    body {
        padding-left: 600;
        background:  #d2d2c1 url('../img/fundo.png') ;
        font: 16px Arial, Helvetica, sans-serif;
        
    }
    #principal {
        border: red hidden;
        width: 900px;
    }
    #links {
        background: #c5c5b2 ;
        font-weight: 300;
        font : blue;
        padding: 20px 150px
    }
    a {
        color: #4b566a; text-decoration: none; font-weight: bold; padding: 5px;
    }
    #conteudo {
        background: #e8e8d9; padding: 15px;
    }
    #direitos {
        text-align: center; padding-top: 15px; font-weight: bold; font
    }
    h3 {
        color: #828271;
    }
    #img {
        border: #c3c3ae 10px ridge; 
    }
    #contato {
        background: #e8e8d9 ; font-weight: bold; padding: 10px;
    }